<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>League Manager</title>
        <link href="{{ url_for( 'static', filename='bootstrap/css/bootstrap.css' ) }}" rel="stylesheet">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <style>.content {padding-top: 80px;}</style>
    </head>

    <body>

        {%- block topbar -%}
        <table> <tr>
        <td>
          <div class="topbar">
             <div class="fill">
                <div class="container">
                    <h2>
                        <a href="/" class="brand">League Manager</a> <small>Easily manage any league, pool, or competition</small>
                    </h2>
                </div>
            </div>
          </div>  
        </td>
        <td>
          {% include 'account/login.html' %}
        </td>
        </tr> </table>
        {%- endblock -%}

        <div class="container">
            <div class="content">
                {% block page_header %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block js_footer %}{% endblock %}

    </body>
</html>
